@charset "ISO-8859-1";

body {
	background: WhiteSmoke;
}

#websiteheader {
	font-family: Arial;
	background: black;
	color: white;
	height: 100px;
	width: 100%;
	margin-bottom: 20px;
}

.twocolumn {
	width: 50%;
}

.twocolumnXL {
	width: 80%;
}

.twocolumnXS {
	width: 20%;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.clearboth {
	clear: both;
}

.tdnone {
	text-decoration: none;
	color: inherit;
}

#titletext {
	padding-left: 20px;
	padding-top: 10px;
}

#LogRegister {
	display: inline;
	margin-top: 30px;
	background-color: cornflowerblue;
	color: white;
	font-family: Arial;
	border-color: cornflowerblue;
	height: 40px;
	width: 100px;
	font-weight: bold;
	cursor: pointer;
}

.inlineBlock {
	display: inline-block;
}

#registerBlock {
	background-color: black;
	width: 400px;
	height: 200px;
	color: white;
	font-family: Arial;
}

#LRFillin {
	height: 30px;
	width: 300px;
	margin-left: 50px;
	margin-top: 15px;
}

#LRSubmit {
	height: 30px;
	width: 200px;
	margin-left: 100px;
	margin-top: 10px;
}